 @media screen and (max-width: 1400px) {
   .content .description-teacher ul li {
        margin-bottom: 10px;
        font-size: 17px;
        line-height: 19px;
     }
}

@media screen and (max-width: 920px) {
  .container {
    padding: 0 9%;
  }
     .content .card .img-holder {
         width: 100%;
     }
     .content .description-teacher ul li {
        margin-bottom: 10px;
        font-size: 12px;
        line-height: 12px;
     }
}

@media screen and (max-width: 700px) {
    .box-header {
      flex-direction: column;
    }
    .main-content {
      flex-direction: column;
      width: 100%;
    }
    .main-content .sidebar .video-holder {
      display: none;
    }
    .usfull-links {
      display: none;
    }
    .text-holder-relax {
      display: none;
    }
    .sidebar {
      width: 75%;
    }
   
    .parent li {
    font-size: 10px;
  }
    .business-card {
      flex-direction: column-reverse;
    }

    .business-card .img-box {
      width: 100%;
    }

    .description-teacher {
      width: 100%; 
 }
}

@media screen and (max-width: 600px) {
    .item .img-holder .caption {
      font-size: 15px;
    }

    .box-slick3 .slick-3 {
      padding: 10px 0px;
    }

    .slick-3 blockquote {
    margin: 0 auto 5px 0;
    font-size: 11px;
    font-weight: bold;
 }
       
      
